@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Poppins, Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-weight: 400;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1{
  font-size: 10rem;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
html, body{
  height: 100%;
}
body {
  margin: 0;
  display: flex;
}
button {
  box-sizing: border-box;
  padding: 0.6em 1.2em;
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
}
button:hover {
  background-color: rgba(255,255,255,0.3);
}
button:focus,
button:focus-visible {
  background-color: rgba(255,255,255,0.3);
}
input::placeholder{
  color: white;
  opacity: .7;
  transition: opacity 0.25s linear;
}
input:focus::placeholder{
  opacity: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill{
  font-family: inherit;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}